.btn {
  margin: 0 auto;
  padding: 2em;
  color: #ffffff;
  font-size: large;
  width: 250px;
  background: #122163;
  text-align: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  border: 0.1px inset rgb(255, 253, 253);

}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}


.btn::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), rgba(255, 255, 255, 1) 10deg, rgba(255, 255, 255, 0) 40deg);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2.5px;
  border-radius: 10px;
  animation: 5s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}