.card {
  background: white;
  padding: 20px;
  height: 25rem;
  border-radius: 12px;
  border: 0.2px solid rgb(0, 0, 0);
  width: 250px;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-15px) scale(1.0);
  background-color: rgb(76, 76, 193); 
  color: white;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}

ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 20px;
  margin-left: 20px;
}

ul li {
  list-style-type: square;
  margin: 6px 0;
  color: black;
}

.card:hover ul li {
  color: white; 
}

.btnSecondary {
  background: #0052ff;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  margin-top: auto;
}

.card:hover .btnSecondary {
  background: white;
  color: #0052ff;
}

