.head {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.head h1 {
  font-size: 3rem
}

.toggle {
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 14px;
}

.toggle button {
  padding: 8px 16px;
  background-color: #9da6b9;
  cursor: pointer;
  border: none;
}

.toggle button:hover {
  background: #564444;
}

.active {
  background-color: #153d96;
  color: rgb(51, 38, 226);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
